{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in accounts %}
                        <tr>
                            <td>{{ detail.name }}</td>
                            <td>{{ detail.number }}</td>
                            <td>{{ detail.receips.all| length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
