{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block content %}
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in receipt %}
                        <tr>
                            <td>{{ detail.vendor }}</td>
                            <td>{{ detail.total }}</td>
                            <td>{{ detail.tax }}</td>
                            <td>{{ detail.date |date:"m/d/y" }}</td>
                            <td>{{ detail.category.name }}</td>
                            <td>{{ detail.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        {% endblock content %}
    </body>
</html>
{% comment %} can you change receipt JUST in this file but all instance of it? {% endcomment %}
{% comment %} |date:"d D m Y" spaces will show up aka 01 01 1999
use / if you want 01/01/1999 format
{% endcomment %}
